<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/jquery/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function() {

        });
    </script>
</head>
<body>
<%= title %>
<%= title %>
</body>
</html>