<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/icon/iconfont-2.x/font_ssotel2d3pzxgvi/iconfont.css'/>
    <link rel='stylesheet' href='/css/common.css'/>
    <script src="/lib/jquery/jquery-1.10.2.js"></script>
    <script src="/lib/juicer/juicer-min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=69907078db273342844c92310bead8a0"></script>
    <script src="/js/Pithy.js"></script>
    <script src="/js/p_Map.js"></script>
    <script src="/js/p_Badge.js"></script>
    <script src="/js/p_Modal.js"></script>
    <script src="/js/p_Menu.js"></script>

    <script>
        $(document).ready(function () {
            var p_Badge_info = {
                label: '通知',
                count: 8
            };
            var p_Badge = new Pithy.p_Badge(p_Badge_info);
            p_Badge.build('#header .top-right .li1');

            var p_Modal_info = {};
            var p_Modal = new Pithy.p_Modal(p_Modal_info);
            p_Modal.build(".sys_modal");

            //
            var height = $(document).height();
            $('.main').height(height - 126);
            //
        });
    </script>
</head>
<body>
<div id="header">
    <div class="sys_modal"></div>
    <div class="top">
        <div class="top-left">
            SYSTEM
        </div>
        <ul class="top-right">
            <li class="li1"><span></span></li>
            <li class="li2">秦始皇</li>
            <li class="li3">
                <i class="icon anticon icon-poweroff"></i>
            </li>
        </ul>
    </div>
    <ul class="header-menu">
        <li>
            <a style="font-size: 13px;color: #333333;" href="/">
                <div>
                    <i class="icon anticon icon-enviromento"></i>
                </div>
                <div class="header-menu-des">Map</div>
                <div style="position: absolute;right: 1px;top: 14px;"><img src="/images/firstnav_line.png"></div>
            </a>
        </li>
        <li><a style="font-size: 13px;color: #333333;" href="/component/index">
                <div>
                    <i class="icon anticon icon-smileo"></i>
                </div>
                <div>组件开发</div>
                <div style="position: absolute;right: 1px;top: 14px;"><img src="/images/firstnav_line.png"></div>
            </a>
        </li>
        <li>
            <a style="font-size: 13px;color: #333333;" href="">
                <div>
                    <i class="icon anticon icon-smileo"></i>
                </div>
                <div>开发3</div>
                <div style="position: absolute;right: 1px;top: 14px;"><img src="/images/firstnav_line.png"></div>
            </a>
        </li>
        <li>
            <a style="font-size: 13px;color: #333333;" href="">
                <div>
                    <i class="icon anticon icon-smileo"></i>
                </div>
                <div>开发4</div>
                <div style="position: absolute;right: 1px;top: 14px;"><img src="/images/firstnav_line.png"></div>
            </a>
        </li>
        <li>
            <a style="font-size: 13px;color: #333333;" href="">
                <div>
                    <i class="icon anticon icon-smileo"></i>
                </div>
                <div>开发5</div>
            </a>
        </li>
    </ul>
</div>
