<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/icon/iconfont-2.x/font_ssotel2d3pzxgvi/iconfont.css'/>
    <link rel='stylesheet' href='/css/common.css'/>
    <script src="/lib/jquery/jquery-1.10.2.js"></script>
    <script src="/lib/juicer/juicer-min.js"></script>

    <script src="/js/pithy.js"></script>
    <script src="/js/p_Countdown.js"></script>

    <script>
        $(document).ready(function() {

        });
    </script>
</head>
<body>
<div id="header">
    <div class="top">
        <div class="top-left">
            SYSTEM
        </div>
        <ul class="top-right">
            <li class="li1">通知<span>32</span></li>
            <li class="li2">秦始皇</li>
            <li class="li3">
                <i class="icon anticon icon-poweroff"></i>
            </li>
        </ul>
    </div>
    <ul>
        <li>首页</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
